[2018-06-17 04:35] zachomedia opened #1 "Playlists with more than 100 songs only show 100 songs"

[2018-06-17 04:36] zachomedia opened #2 "If an account doesn't have Apple Music, show the error message to the user"

[2018-06-17 09:54] Thoro opened #3 "When clicking next or previous, and that song is not available, it always stays on the same song"
When clicking next or previous, and that song is not available, it always stays on the same song.

The previous and next buttons should go forward and backwards until a playable song is found.

[2018-06-17 13:36] zachomedia commented on #3
Thanks for the report.

I'm going to look at submitting this issue upstream to Apple, since I call the `skipToNextItem` (https://developer.apple.com/documentation/musickitjs/musickit/musickitinstance/2992718-skiptonextitem) function.

[2018-06-17 13:38] zachomedia commented on #3
I'll see if there's a workaround at least for now though.

[2018-06-17 13:40] Thoro commented on #3
Not really necessary - since it only appears to happen when manually clicking next, the auto play jumper over correctly

[2018-06-17 16:51] Adam1901 opened #4 "Unable to Build"
After running npm install on windows I get teh following warnings

[code]

Then when running

[code]

I'm not that familiar with node & npm but I'm pretty sure something here isn't quite right .

I completely love it in the browser though!

[2018-06-17T16_48_53_700Z-debug.log](https://github.com/zachomedia/apple-music-webplayer/files/2109193/2018-06-17T16_48_53_700Z-debug.log)

[2018-06-17 18:21] Adam1901 commented on #4
Hey @zachomedia

Thanks the works, I spent like 30 mins trying to get that to work.
Now only if I had a token :) But I'll probably just carry on using it over your site until I get around to renewing.

Thanks
Adam

[2018-06-17 18:21] #4 closed

[2018-06-19 03:13] zachomedia commented on #1
Submitted a radar for this, as I don't see a way to do it.

[2018-06-19 04:42] nkatsaros commented on #1
It's available through this api https://developer.apple.com/documentation/applemusicapi/get_a_library_playlist_s_relationship_directly_by_name but doesn't appear to be exposed by MusicKit JS. It's unfortunate that you can't paginate through this manually with offset/limit like you can with the other library resources.

[2018-06-19 05:57] brianclinkenbeard opened #5 "No songs play, COR issue"
`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://play.itunes.apple.com/WebObjects/MZPlay.woa/wa/widevineCert. (Reason: CORS header ‘Access-Control-Allow-Origin’ does not match ‘https://embed.music.apple.com’).`
Firefox, problem occurs without any add-ons enabled. Apple Music toolbox works fine.

[2018-06-19 21:04] alicerunsonfedora opened #6 "Enhancement request: Electron app?"
It would be awesome if we could get an Electron version or something with Photon.css or an Apple-like CSS system for native integration.

I might do one myself based off of this, but I'd at least like to throw in a suggestion.

[2018-06-19 22:38] zachomedia commented on #5
@brianclinkenbeard Can you try logging out and logging back in? I ran into this once, and I think that solved it.

[2018-06-19 23:03] dsifriend opened #7 "[Feature Request] Loop and Shuffle over listed tracks"
A key feature that seems to be missing (or at least very hard to discover) is loop and shuffle.

The "PLAY ALL" button can clearly keep track of all the tracks listed when displaying a playlist, album or an artist's discography, so I imagine it can't be too hard to get it to loop and shuffle manually if Apple's API doesn't already provide that option.

[2018-06-19 23:04] brianclinkenbeard commented on #5
works now, didn't even have to log out.

[2018-06-19 23:04] #5 closed

[2018-06-19 23:31] dsifriend commented on #7
I guess this should have something to do with MusicKit.SetQueueOptions.parameters, but the public documentation is still kinda spotty to say the least...

[2018-06-19 23:35] zachomedia commented on #7
I looked at this briefly yesterday. I have a feeling it hasn't been implemented yet in MusicKit JS. The documentation refer to https://developer.apple.com/documentation/musickitjs/musickit/playershufflemode and https://developer.apple.com/documentation/musickitjs/musickit/playerrepeatmode, but they don't seem to actually exist yet.

I'm hesitant to implement a feature that should/will be supported

[2018-06-19 23:40] zachomedia commented on #6
I'm not against the idea of making an Electron version of the app.

Unfortunately, it'll probably be a while before I get around to it, so if someone else wants to make an electron version of this, that's more than welcome by me.

[2018-06-19 23:44] zachomedia commented on #1
Thanks @nkatsaros, I came to the same conclusion yesterday when I filed the issue with Apple. Hopefully we get something soon.

[2018-06-20 18:18] kane090 opened #8 "My playlists do not appear."
I have 2 "smart" playlists and they do not show up on your web player.

[2018-06-20 18:19] kane090 opened #9 "[Feature] Library sorted by genre."
I use the genre sorting to listen to my music and it would be great to see it on this web player.

[2018-06-20 18:23] kane090 opened #10 "Albums from previously deleted songs show on the 'Albums' section."
I have songs that are no longer on my Apple Music, who's album title, with a blank cover show on the albums section. Furthermore, when I click on them, there are no tracks.

[2018-06-20 23:28] zachomedia commented on #10
Thanks for the report. I'll see if I can reproduce this and submit this to Apple.

[2018-06-20 23:47] me4502 opened #11 "Add last.fm integration"
A really great feature would be to add last.fm integration to the player.

[2018-06-21 00:58] zachomedia commented on #7
I ended up doing a simple implementation of shuffling for playlists and albums. Once it's properly supported by MusicKit JS, I'll move to that.

[2018-06-21 07:01] kane090 opened #12 "Only 98 songs out of my over 340 songs show up in my library with the 'Songs' layout."
As the title says.

[2018-06-21 12:09] zachomedia commented on #12
@kane090 The songs page loads in 100 song increments. Can you check the console for any errors?

[2018-06-23 19:38] zachomedia commented on #1
Implemented a workaround to call the Apple Music APIs directly to get the rest of the songs for the playlist.

[2018-06-23 19:43] zachomedia commented on #12
Can you run the two following commands in the console?:

[code]

[2018-06-23 19:46] kane090 commented on #12
I ran the commands and this is what I got:

MusicKit.getInstance().api.library.songs(null, { limit: 100 }).then(r => console.log(r.length));
Promise {<pending>}
VM81:1 98
MusicKit.getInstance().api.library.songs(null, { offset: 100, limit: 100 }).then(r => console.log(r.length));
Promise {<pending>}
VM97:1 99

[2018-06-23 19:48] zachomedia commented on #12
Can you look at the request to `https://api.music.apple.com/v1/me/library/songs` in the Network tab, and see if there is a `next` value in the response/what the value is?

[2018-06-23 19:52] kane090 commented on #12
{next: "/v1/me/library/songs?offset=100",…}
data
:
[{id: "i.2P0NDPNtxONpg1", type: "library-songs", href: "/v1/me/library/songs/i.2P0NDPNtxONpg1",…},…]
next
:
"/v1/me/library/songs?offset=100"

[2018-06-23 19:56] zachomedia commented on #12
Interesting. Unfortunately, the `next` param doesn't get passed through in the response to my application. I just changed the logic to keep up on increasing the offset until the response contains 0 items. Can you try the songs view now?

[2018-06-23 19:59] kane090 commented on #12
Just tried the view. Every song shows up! Well done and thank you!

[2018-06-23 19:59] #12 closed

[2018-06-23 19:59] zachomedia commented on #12
Great!

[2018-06-24 00:05] zachomedia opened #13 "Add Top Charts"

[2018-06-24 20:12] ddshd opened #14 "Add a "Recently Added" or "Library" page"
On iOS and iTunes, the library page shows the most recently added songs/albums to the library for quick access. It'd a good addition to the web app if this is possible.

[2018-06-24 21:17] pedrogarcia opened #15 "Artwork takes too long to load"
All the artwork from matched or uploaded songs in my library take too long to load.
I've noticed that all artworks that are not from the store are loaded in the .png format.
However, none of the songs in my library (matched or uploaded) have .png artwork.
This seems incredibly wasteful, slow and unnecessary.

[2018-06-25 10:44] poentodewo opened #16 "music not load"
just login as usual music library not loaded

https://screenshotscdn.firefoxusercontent.com/images/2c250f32-84fa-4824-94b5-8e8310265428.png

[2018-06-25 11:23] zachomedia commented on #16
Hello @poentodewo,

Did you try clicking something in the sidebar?

[2018-06-25 12:38] poentodewo commented on #16
@zachomedia Yes but nothing happen

https://thumbs.gfycat.com/IllustriousThunderousKiwi-size_restricted.gif

[2018-06-25 22:18] zachomedia commented on #16
Can you see if there are any errors in the developer console?

[2018-06-26 12:23] poentodewo commented on #16
I donk now how to see error
![screenshot at 2018-06-26 19-08-51](https://user-images.githubusercontent.com/15877677/41910687-9c57f39a-7974-11e8-98aa-52400c50dcc9.png)
event not working with safari ios
![image-1](https://user-images.githubusercontent.com/15877677/41911061-cc48f1ac-7975-11e8-9957-c776e6997f12.jpg)

[2018-06-26 18:03] KevDoy commented on #16
I do not have an Apple Music subscription but have songs in iTunes, nothing shows up for me either. Is that the issue?

[2018-06-26 19:06] zachomedia commented on #16
@KevDoy Yeah, if you don't have an Apple Music subscription, it won't show anything. I want to show a message to this fact, but the flag for this isn't working/is missing right now (I have an open bug with Apple for this).

@poentodewo Do you have an active Apple Music subscription?

[2018-06-26 20:12] poentodewo commented on #16
@zachomedia Yes I have
I can play with my phone
https://gfycat.com/GroundedEarnestBlackmamba

[2018-06-27 00:39] zachomedia commented on #16
@poentodewo Can you go to https://music.zacharyseguin.ca/debug and provide me with the output?

[2018-06-27 01:38] poentodewo commented on #16
here
https://gfycat.com/WigglyVictoriousDonkey

[2018-06-27 02:01] zachomedia commented on #16
Ok, interesting. I've actually managed to get in that state myself in my local development environment (but only in Safari, not Chrome).

I'm going to experiment a bit and see what I can figure out.

[2018-06-27 02:12] zachomedia commented on #16
@poentodewo I just tried a change that seemed to fix it locally for me, can you try now? (You may need to clear caches)

[2018-06-27 02:29] poentodewo commented on #16
Thanks its working now
https://screenshotscdn.firefoxusercontent.com/images/a6ddb4ff-0ede-4cb2-8f94-34c46655a632.png

[2018-06-27 02:41] zachomedia commented on #16
Great!

[2018-06-27 02:42] #16 closed

[2018-06-27 21:47] kane090 opened #17 "Adding a volume slider..."

[2018-06-28 14:05] jmauss opened #18 "Songs Not Playing"
Not sure what I am doing wrong here, but when I select a song, it appears at the top of the screen but does not begin playing. Previews of songs would play fine before I logged in (the 30 second clips), but after logging in, no songs play. My playlists and library do show up fine.

[2018-06-28 16:59] zachomedia commented on #18
Can you take a look at the console in Developer Tools, and see if there are any errors?

[2018-06-28 23:29] zachomedia commented on #17
Yeah, a volume slider would be nice. There is no API for setting the volume right now, unfortunately.

[2018-06-29 12:18] jmauss commented on #18
Forgive my ignorance, how exactly do I access the developer tools to see?

[2018-06-29 16:01] atharvalele opened #19 "Cannot login with Google Chrome"
Google Chrome v67.0.3396.99 (Official Build) (64-bit)
Manjaro Linux KDE

After signing into the auth window that pops up, the pop up window shows a blank white page. Closing that window does not do anything either. Neither does refreshing the page.

https://imgur.com/a/fvTZXEc

[2018-06-29 18:29] jmauss commented on #18
Chromium (latest stable) on Arch Linux

[2018-06-29 18:32] zachomedia commented on #18
Do you have https://wiki.archlinux.org/index.php/chromium#Widevine_Content_Decryption_Module_plugin setup?

Apple Music send the content encrypted and needs to be decrypted by the browser.

[2018-06-29 18:41] zachomedia commented on #19
Can you check 2 things for me:

Any errors in the console of the Developer Tools?

Can you try with https://tools.applemusic.com?

1. Select a playlist
2. Click the … icon, click "open in a new window” and then click the sign-in button at the top right
3. Click “Play” on the playlist

[2018-06-29 18:56] jmauss commented on #18
Ah, I was not aware this was a requirement. Works fine now, thank you.

[2018-06-29 18:56] #18 closed

[2018-06-30 04:14] atharvalele commented on #19
I can't sign in on tools.applemusic.com either. The error in console is this

tools.applemusuic.com: https://paste.ubuntu.com/p/TtG3Q7Q6nf/
your website: https://paste.ubuntu.com/p/jmGYM8jyJC/

[2018-07-04 03:29] zachomedia commented on #19
Thanks. Can you check if this is still happening?

This is very likely a problem on Apple's end and I don't really know if it's something I can debug.

[2018-07-04 03:34] atharvalele commented on #19
Yup, it is still happening. On the apple website as well. Is there any way to open up a ticket / submit a bug report to them?

[2018-07-04 03:35] zachomedia commented on #19
Try https://bugreport.apple.com (don't know if you need to be a developer to access it)

[2018-07-04 03:49] atharvalele commented on #19
I've submitted a bug report here https://bugreport.apple.com/web/?problemID=41805849

Not sure if you can view it or it is my-account only. In any case, I'll keep you updated if Apple replies.

[2018-07-04 04:02] zachomedia commented on #19
Thanks. I can't see the bug, but please let me know if/when you hear anything.

[2018-07-04 09:55] navanchauhan commented on #6
I have a working PoC for MacOS ready [Release 0.9.9](https://github.com/navanchauhan/apple-music-webplayer/releases/tag/v0.9.9) (p.s: it's a PoC )

[2018-07-04 09:56] navanchauhan opened #20 "Instructions for deploying a custom AMW"
I am working on converting this into a native electron app [(see this release)](https://github.com/navanchauhan/apple-music-webplayer/releases/tag/v0.9.9) but I'm running into some bugs for which I'll have to run my own instance first, so how shall I do this?

[2018-07-04 10:00] navanchauhan commented on #20
Saw #4

[2018-07-04 10:00] #20 closed

[2018-07-05 04:21] zachomedia opened #21 "On Queue popup, history tab should be reverse sorted"

[2018-07-05 18:40] kane090 opened #22 "I keep getting "An unexpected error occurred" every time I load any page."

[2018-07-05 20:32] zachomedia commented on #22
Same thing started happening to me. Logging out and logging back in seems to fix it. Can you try that?

[2018-07-05 20:48] kane090 commented on #22
I tried it and everything seems to work now! Thanks!

[2018-07-06 02:18] zachomedia commented on #22
Great!

[2018-07-06 02:18] #22 closed

[2018-07-07 02:20] #21 closed

[2018-07-12 19:35] pedrogarcia opened #23 "Wrong version of song is added to Library"
I tried adding this song to Library https://itunes.apple.com/br/album/they-long-to-be-close-to-you/14172524?i=14172565&l=en.
Instead of adding that song, it added another version from a generic compilation album that is not available in my location. So while streaming is fine and works, the version that was added is wrong and does not play.
When I try to play the song added it gives "unexpected er

[2018-07-15 19:54] zachomedia commented on #23
Thanks for the report.

It doesn't look like I can test with the song you've linked, as it doesn't appear to be available in the Canadian store. This is something that'll will have to be reported to Apple, since the application simply sends the ID of the song to add.

As for the "unexpected error" message when you try to play it, can you check the console for the more detailed error message?

[2018-07-16 21:41] jaehess commented on #23
@zachomedia Can you tag this one as submitted to Apple - Pedro has filed a Radar on this.

[2018-07-16 21:42] zachomedia commented on #23
@jaehess Done

[2018-07-16 22:02] pedrogarcia commented on #23
Seems some kind some kind of fix happened on this particular song when the issue was brought to light publicly.

There were 2 songs I had this issue with, and one of them is "not available anymore" and the other one is fixed.

[This](https://www.reddit.com/r/AppleMusic/comments/8yfms5/bug_some_songs_on_kanye_west_albums_will_separate/) [seems](https://www.reddit.com/r/AppleMusic/comments/8yon2h/di

[2018-07-16 23:51] zachomedia commented on #23
@pedrogarcia Thanks for the update and submitting a Radar to Apple about this.

Let me know if you hear anything back from Apple.

[2018-07-22 15:53] buddyrich33 opened #24 "No way to delete/clear your queue/up next and track selection"
I can see my up next but there is no way to clear the queue or manipulate it (move songs around in the queue).

This is needed for Apples bad habit of adding all tracks in a playlist/album if its played via double-click  vs. using specifically "play next" "play after" that does build a queue one track at a time.  Maybe also add an option to defeat that functionality so double click plays just the

[2018-07-22 17:11] zachomedia commented on #24
@buddyrich33 Thanks for the feedback. Unfortunately, there aren't any APIs to manipulate the current queue other then to append to it.

As for the double clicking adding the entire playlist/album, that's something I did in the app to be consistent with Apple's music players. I don't mind adding an option for it though in settings.

[2018-07-22 18:51] buddyrich33 commented on #24
Thats unfortunate about the lack of queue manipulation missing from the API.  An option to override the play functionality would be nice, however.

Only 3 other things I would like to see. First is a more generic Apple Music catalog browse (not a Library browse which you have) mode.  Duplicate the browse tab functionality of the Apple Music app -> especially by Genres or Artist.  Its sorta there i

[2018-07-24 06:35] popoway opened #25 "Enhancement request: i18n"

[2018-07-24 19:05] pedrogarcia opened #26 "Same artwork (with matching sha1) is downloaded twice, from different locations"
As documented in other bug reports, MusicKit.js has problems loading artwork timely.

One thing I noticed is that often, for the same album, it will re-download the same artwork multiple times, from different locations (the URL of each asset is different) when displaying the songs list.

But when I checked the SHA1 of the file, they match, which means that the same file is being downloaded twice a

[2018-07-24 19:15] anurag-goyal opened #27 "Adding playlist to library"
Add playlist to library button stays enabled even after the playlist is added to library. That button should be removed after the playlist is added to library.

[2018-07-24 19:17] anurag-goyal opened #28 "library playlist view does not refresh after adding a playlist to library"
A newly added playlist does not show up in library playlist view until user hit refresh. Expect to refresh the library playlist section immediately after adding any container to library.

[2018-07-24 20:37] zachomedia commented on #27
Thanks for the report. Unfortunately there is no indication from the API if it's in your library or not, which is what would be needed to make this feature best.

A temporary measure could be to hide it after it's added to your library. But once you click away and come back, it'll be back.

[2018-07-24 20:49] zachomedia commented on #26
Thank you for the detailed report.

The URLs for the artwork are generated by MusicKit JS through the call the [`formatArtworkURL`](https://developer.apple.com/documentation/musickitjs/musickit/3001508-formatartworkurl) and the data return from the Apple Music API. A Radar will need to be submitted for this issue.

Can you open a separate issue for the crashing? It's something that needs more disc

[2018-07-24 21:08] pedrogarcia opened #29 "Tab crashes when viewing songs"
About 1.29GB of unique album art data ([assuming duplicate data is not served by the MusicKit.js API](https://github.com/zachomedia/apple-music-webplayer/issues/26)) is loaded for the around 10.000 songs in my Music Library.

The tab crashes on Chrome when about a third if data is loaded, when viewing the list of songs. The app may be hitting memory limits (it crashes at around 4GB) as this is rep

[2018-07-28 16:43] zachomedia opened #30 "Sometimes player forgets settings (ex. dark mode)"

[2018-07-29 01:43] zachomedia commented on #29
I've been thinking about this on and off recently.. I like having the artwork appear on the songs list, but for a large number of songs it becomes a problem.

There are two fixes, neither of which are ideal: not show artwork or paginate the page so only `x` songs are visible at a time.

I'm open to other possible solutions too.

[2018-07-29 01:57] pedrogarcia commented on #29
I'm not a web developer, so my suggestions may not be that useful.

Well, to be fair, the problem is really that you're being served 10.000 different copies of High-resolution, 1400x1400 images. Is there anyway to cache some data to disk?

I like having the artwork appearing on the songs list as well.

GPM, for example, deals with this problem by showing only low resolution images (for the small t

[2018-07-29 02:11] zachomedia commented on #29
So the hardest part is that I have no control over the images (where they comes from, their actual size, the cache, etc.) because that's all controlled by Apple. I only ask MusicKit JS for a URL to an image for `x` pixels in size.

Now, I did some investigation just now - I'm seeing that apple is sending 40x40px images for the songs list and they're about ~1-2KB each. However, their are songs that

[2018-07-29 02:19] pedrogarcia commented on #29
Is this implemented yet? When I right click a song, and open the image in a new tab, it shows the full artwork.

You should test with an uploaded song (with custom artwork) as well, because I only saw the 40x40 image for tracks added from Apple Music.

[2018-07-29 02:21] zachomedia commented on #29
Yeah, tracks added from Apple Music give me actual images at 40x40px. But music that I'm guessing was matched / uploaded from my library does not - it gives me the full size images like you describe. It seems to affect artwork that gets loaded from Amazon S3 rather than mzstatic.com.

I'm in the process of writing this into a bug report with Apple.

[2018-07-29 02:38] zachomedia commented on #26
Radar 42698798

[2018-07-29 02:38] zachomedia commented on #29
Radar 42698851

[2018-07-30 14:07] agg23 opened #32 "Migrating to Typescript"
As this is a project that likely has a lot of public appeal, it would be nice if the codebase was as accessible as possible for modification. Typescript helps fill that role, making it much simpler to debug and develop Javascript applications by forcing types.

Would a PR converting the system to Typescript be acceptable?

[2018-07-30 14:23] agg23 opened #33 "Content Security Policy"
On attempting to play anything in Safari 11.1.2 for Mac, it just sits there spinning and logs:
`Refused to load *url* because it does not appear in the media-src directive of the Content Security Policy.`

I believe this is trivially solved by adding a `<meta http-equiv="Content-Security-Policy">` to the header of each page, allowing access to Apple's AWS.

[2018-07-30 16:35] zachomedia commented on #33
Hm, sorry about that. I thought I managed to whitelist everything.

Can you give me the exact URL it’s trying to connect to?

I may also just remove the CSP if this gets more complicated.

[2018-07-30 16:56] agg23 commented on #33
I'm not sure what parts of the URL are private, but I assume you only need the domain. The endpoint is `https://apple-sg-us-std-000001.s3.amazonaws.com`. It's possible (and perhaps likely) that there are different endpoints for iTunes Match and Apple Music, and this may be an iTunes Match item.

[2018-07-30 17:31] agg23 commented on #33
It is indeed fixed now.

[2018-07-30 17:31] #33 closed

[2018-07-30 17:34] zachomedia commented on #33
Great! Thanks for reporting the issue.

[2018-07-30 17:38] zachomedia commented on #32
I think this would be an acceptable PR.

[2018-08-05 15:28] zachomedia opened #34 "Create playlists + add songs to existing playlists"
https://www.reddit.com/r/apple/comments/8rls4r/i_started_building_an_apple_music_web_player_with/e3mz7lj

[2018-08-06 01:04] zachomedia commented on #2
This has been resolved by Apple.

You now can't complete the login flow if you don't have Apple Music.

[2018-08-06 01:04] #2 closed

[2018-08-06 01:06] zachomedia opened #35 "Apple Music APIs randomly starting returning 403"
This results in you having to logout / log back in.

Two issues:

1. The application should handle this better
2. MusicKit JS should change the user to logged out when this happens

[2018-08-16 03:37] zachomedia opened #36 "Add "Go to album" for the current playing song"
For the current song, add a "Go to album" link.

[2018-08-17 12:21] SynoMalta opened #37 "Ability to Add to playlist"

[2018-08-18 23:17] #14 closed

[2018-08-21 22:53] zachomedia commented on #7
@Hum4n01d The basic Shuffle that's been implemented outside of MusicKit.JS is only available when viewing a playlist or album. It shows up at the top of the screen (next to the artwork) labelled "Shuffle all"

[2018-08-29 14:59] timbarclay opened #40 "Long tracks stop playing at 9:59"
Tracks longer than 10 minutes stop playing at 9:59 minutes. Nothing gets logged to the console.

[2018-08-30 03:41] atharvalele commented on #19
Huh, Apple just deleted my bug report for some reason without fixing it. I think I'll submit it again later.

[2018-09-02 14:18] peterjosling opened #41 "Not including a developer token makes it hard for people to contribute"
Right now if someone wants to run this project locally, they need to either have their own Apple developer account and generate their own token, or pull up the compiled source from the production build on music.zacharyseguin.ca and find your token there.

The token was designed to be shipped in client-side code, so I don't see any huge concerns with publishing it in the repository. If someone want

[2018-09-03 02:40] zachomedia commented on #37
Closing as a duplicate to #34

[2018-09-03 02:40] #37 closed

[2018-09-03 02:56] zachomedia commented on #40
Thanks for the report. I was able to reproduce this. I'll look into the source of the error and either fix it or report it upstream.

[2018-09-09 20:03] agg23 commented on #41
I agree entirely. There is no real concept of a secret in the JavaScript world.

Though I haven't yet gotten around to making my intended contribution to this project, when I was first exploring the possibility, I was able to extract several tokens from other Github repos, due to either carelessness or recognition that the tokens cannot truly be secured in a production scenario.

[2018-09-09 20:54] zachomedia commented on #41
I don't want to push the token into the public code at this point since I'm not sure if there are implications of doing so, especially with regards to the Apple Developer program terms.

[2018-09-14 03:50] jaehess commented on #1
Can you send me the radar number you filed?

[2018-09-14 04:08] zachomedia commented on #1
@jaehess It's 41235579

[2018-09-14 04:36] jaehess commented on #24
@zachomedia There are a few "lower level" API's that _might_ be of use here.

By default, MusicKit JS will automatically play through a queue as long as the user is authenticated and has authorized the application. You can override this behavior by setting the following property on the player:

`MusicKit.getInstance().player.continuous = false`

For queue manipulation, you can remove an item from

[2018-09-14 04:38] jaehess commented on #3
@zachomedia Radar number?

[2018-09-14 12:10] zachomedia commented on #3
@jaehess It's 41270069
I'm not sure if this is still an issue, as I believe the last time I tried to skip over an unplayable song it worked as expected.

[2018-09-14 18:17] jaehess commented on #3
This doesn't seem to be reproducing - @Thoro Can you confirm?

[2018-09-15 04:26] jcsims opened #49 "Add ability to love/dislike song"
First: thanks for building this, it's awesome! I'm using it on Linux, and it's super slick.

I tend to love/dislike songs to affect Apple's recommendations, but don't see a way to do that in the webplayer yet. I'm not familiar with Apple's APIs for this, but it _looks_ like it's possible to do this via the API? https://developer.apple.com/documentation/applemusicapi/add_a_personal_song_rating

[2018-09-15 18:24] PierreOlivierBrillant opened #50 "Can't play music that has been bought by the user"
Music that has been purchased by the user will show up in the library listing, but uppon clicking on any song, the following errors are logged in the console:

![image](https://user-images.githubusercontent.com/19349898/45589368-a256e400-b8f2-11e8-8a24-561033619f9c.png)
![image](https://user-images.githubusercontent.com/19349898/45589371-b00c6980-b8f2-11e8-8aa0-632427bffdfe.png)

I'm specifically

[2018-09-16 01:02] jaehess commented on #50
@zachomedia I am tracking this if you want to label as Submitted to Apple.

[2018-09-16 17:47] zachomedia commented on #19
@jaehess Can you look into what happened to @atharvalele's Radar? (41805849)

[2018-09-16 18:35] #49 closed

[2018-09-16 18:37] zachomedia commented on #49
@jcsims Thanks for the request. You are correct, it's possible with the API endpoint you found.

[2018-09-16 19:39] PierreOlivierBrillant opened #52 "Empty query results in unexpected error"
URL for Library: `https://music.zacharyseguin.ca/library/search?q=`
URL for Apple Music: `https://music.zacharyseguin.ca/search?q=`

The included url results in an "Unexpected error" in the UI, for both for Apple Music, and Library queries.

![image](https://user-images.githubusercontent.com/19349898/45600178-786ef180-b9c6-11e8-88fc-17f6113bbb68.png)
The first error is with Apple Music and the sec

[2018-09-16 20:07] #52 closed

[2018-09-16 20:08] zachomedia commented on #52
Thanks for the report. I've fixed the issue with empty search queries.

[2018-09-17 15:50] zachomedia commented on #24
@jaehess Thanks, this should help. I'll take a look at implementing this.

[2018-09-20 18:38] Thoro commented on #3
I think it's fixed.

[2018-09-20 18:38] #3 closed

[2018-10-11 13:34] uvoglu opened #54 "Select Bitrate"
Great tool you are creating, congratulations!

One thing I noticed though is that the songs are only streamed at a low bitrate (64kbps). The Music Kit JS API allows you to select between 64kbps (normal quality) and 256kbps (high quality) (https://developer.apple.com/documentation/musickitjs/musickit/playbackbitrate)

Is it possible to switch to better quality?

Thanks and keep up the good work!! :

[2018-10-24 00:50] jaehess commented on #19
@atharvalele Are you still having issues here?

[2018-10-24 00:51] jaehess commented on #40
@zachomedia Please ping me the number if you filed a Radar on this.

[2018-10-24 03:16] zachomedia commented on #40
@jaehess Unfortunately I've been quite busy recently and haven't had the chance to submit one yet. I was able to reproduce it however.

I'll try to submit one in the next few days.

[2018-10-24 03:38] jaehess commented on #40
No worries. I will take care of it. Do you happen to recall which browser you were using?

[2018-10-24 03:39] zachomedia commented on #40
I believe it was Chrome when I tested it (since I normally use that for dev purposes). If it wasn't Chrome, it was Safari.

[2018-10-24 03:40] zachomedia commented on #40
Just a note too, I had to let the song play from the start to 10 minutes. Sometimes scrubbing to near 10 minutes into the song wouldn't reproduce the issue.

[2018-10-24 18:49] jaehess commented on #40
Please label as Submitted to Apple. I am tracking this.

[2018-10-24 22:47] aarjae commented on #6
I will also start working on one, mainly for Linux

[2018-10-27 17:57] zachomedia commented on #54
@jaehess Is this actually available yet? The Enumeration doesn't appear to exist.

[2018-11-01 02:02] atharvalele commented on #19
Yes, I am. Chrome v70.0.3538.77 (Official Build) (64-bit)

[2018-11-01 20:01] jaehess commented on #54
It is available, but it looks like the enumeration is not actually being exported. I will get this into the next  release. Until then you are welcome to use the enumeration values directly.

[2018-11-01 21:22] d0lb33 commented on #17
Just set MusicKit.getInstance().player.volume = a number here

It seems to not be mentioned in the documentation, but this works for me. Along with setting the queue to shuffle/repeate. Just to MusicKit.getInstance().player.shuffleMode = 1

Observe here in my console. The values retain the information and you can also observe it in the queue.

![capture](https://user-images.githubusercontent.com/1

[2018-11-06 04:28] jaehess commented on #54
This should be available now: `MusicKit.PlaybackBitrate`

[2018-11-06 04:29] jaehess commented on #50
This should be working now. Please let me know if this is still an issue.

[2018-11-06 17:04] PierreOlivierBrillant commented on #50
@jaehess Yes it seems to be working for me.

[2018-11-06 21:22] d0lb33 commented on #50
@PierreOlivierBrillant Is MusicKitJS down for anyone else right now? @jaehess

[2018-11-06 21:30] jaehess commented on #50
Things seem up for me:

https://js-cdn.music.apple.com/musickit/v1/index.html

[2018-11-06 21:36] d0lb33 commented on #50
@jaehess Try logging into zachs program. Its giving a store front error.

[2018-11-06 21:41] d0lb33 commented on #50
![image](https://user-images.githubusercontent.com/18106388/48095443-5f223e80-e1da-11e8-880f-45ffe150ec75.png)

[2018-11-06 21:42] d0lb33 commented on #50
Even the website you linked is giving me a storefront error @jaehess

[2018-11-06 21:50] jaehess commented on #50
I am not seeing this issue. The 403 represents an issue with the music user token. If you reset your browser cookies / local storage are you still seeing the issue?

What version are you seeing in the top right corner of the link above?

[2018-11-06 21:54] d0lb33 commented on #50
@jaehess 1.1.0-15 also I have tried in edge, also tried on a different device and it did not work. Could this be an issue with my account? I cant even sign in to apple music through there toolkit website. Go here and try signing in, does it let you? https://itunes.apple.com/us/album/reset/1440349047?app=music&ign-mpt=uo%3D4

[2018-11-06 21:54] d0lb33 commented on #50
![image](https://user-images.githubusercontent.com/18106388/48096223-49157d80-e1dc-11e8-90dd-ed01b3ab7396.png)
@jaehess

[2018-11-06 21:56] jaehess commented on #50
Reproducing there. Investigating now.

[2018-11-06 22:00] d0lb33 commented on #50
@jaehess I was able to login too!!! Hmm, still cant seem to login on my personal application.

[2018-11-06 22:09] jaehess commented on #50
@d0lb33 a fix is rolling out now.

[2018-11-06 22:09] d0lb33 commented on #50
@jaehess From Apple?

[2018-11-06 22:11] jaehess commented on #50
@d0lb33 Yes.

[2018-11-06 22:12] d0lb33 commented on #50
@jaehess I am building a musickitjs application right now, I have a few questions that may be bugs or may be my own self. Is there some way I can message you?

[2018-11-06 22:30] d0lb33 commented on #50
@jaehess For example there are some songs in my library that when set to the queue have no play params. Zachs player doesn't work with them neither does mine. The only way to get the song to play is to delete it from my library and readd it. The weird thing is that if I look at it on my phone, and search it up, it shows as if I have not added the song to my library yet (still has a plus next to it

[2018-11-06 22:52] jaehess commented on #50
@d0lb33 Would you mind posting your questions to the [MusicKit Apple Developer Forums](https://forums.developer.apple.com/community/app-frameworks/musickit)? This will allow us to support your questions and reach a wider audience at Apple.

[2018-11-07 00:48] #54 closed

[2018-11-07 01:10] zachomedia commented on #54
Thanks @jaehess

@uvoglu This has been added to https://music.zacharyseguin.ca/settings, where you can toggle the bitrate.

[2018-11-07 01:17] uvoglu commented on #54
I just tested it and it seems to work :) Thank you!!

[2018-11-07 03:39] #50 closed

[2018-11-07 03:40] #40 closed

[2018-11-07 03:40] zachomedia commented on #40
I'm going to close this for now. If it's still an issue, we can re-open it.

[2018-11-07 15:52] T3kstiil3 opened #56 "Keep playlist / song when i change settings"
When i change my settings, player reset current playing song.
I'll be cool if current song whould be keeping 😊

PS: thx for your work. Just a awesome idea 👍 ! I'll make PR soon for features and bugs fixed !

[2018-11-08 00:15] zachomedia commented on #56
Thanks for the report. What browser and OS are you experiencing this in? I was unable to reproduce in Safari and Chrome on macOS.

[2018-11-08 13:52] T3kstiil3 commented on #56
It's a know bug when you change Bitrate (Changing the bitrate will cause the page to reload.)
Keep sound in localstorage or somethink like this will be cool :)

[2018-11-08 15:52] T3kstiil3 opened #57 "Links target blank"
All links in the footer must have target blank to keep music playing
(allways keep user on the app 😉)

[2018-11-08 16:19] T3kstiil3 opened #58 "Random error on playlist play"
Sometime playlist stop playing on next song and log this errors:

[code]

[code]

Navigator: Chrome Version 67.0.3396.99 (Build officiel) (32 bits) / Windows
Not tested on my mac

[2018-11-08 16:31] T3kstiil3 commented on #58
I think the real error was :
[code]

[2018-11-11 14:32] kontheocharis opened #59 "Not Playable Error"
Every time I try to play a song which has been added from Apple Music, I get a "Not Playable" error at the bottom of the page.

[2018-11-11 18:31] zachomedia commented on #59
@kontheocharis Can you provide some more detail (exact steps + song examples)?

I tried playing songs I've added from Apple Music and they play fine.

[2018-11-11 18:32] zachomedia commented on #57
Thanks for reporting this. Definitely should have been the case :)

[2018-11-11 18:34] zachomedia commented on #56
Yeah, changing the bitrate currently triggers a full reload because the bitrate setting is only writable when calling `MusicKit.configure`.

[2018-11-11 18:35] zachomedia commented on #56
I will look at saving current playlist + song in localstorage.

[2018-11-12 18:39] T3kstiil3 commented on #56
It was my first idea 👍

[2018-11-13 05:51] jaehess commented on #56
@zachomedia FWIW documentation is lacking for bitrate. You can set the bitrate without reloading, but it will not take effect until the next track is started.

[code]

[2018-11-13 05:52] jaehess commented on #59
Possibly related: https://forums.developer.apple.com/thread/110529

[2018-11-13 12:58] zachomedia commented on #56
Thanks @jaehess. I'll update it then to change that value.

Just note, the docs do say that's a `readonly` value (https://developer.apple.com/documentation/musickitjs/musickit/musickitinstance/2992702-bitrate).

[2018-11-13 16:51] d0lb33 commented on #59
@kontheocharis Have you tried to un-add the song and re-add it from your iPhone/Mac?

[2018-11-16 10:40] cunidev opened #60 "Design mockups?"
As the app is currently slightly messy, it might be useful to start accepting simple design mockups. If you do, I can try to contribute myself.

[2018-11-16 10:43] cunidev opened #61 "Homepage is mostly useless"
It would be better for the homepage to show something more than the current welcome message, as having to go to Recommendations for example each time is slightly counterintuitive. I'd suggest to show recently listened songs on the homepage, and keep the welcome message below.

[2018-11-16 12:50] zachomedia commented on #60
I'm open to anyone contributing design mockups.

[2018-11-16 12:52] zachomedia commented on #61
This was an intentional design decision at the time because loading anything on the homepage slowed down the page and delayed you from getting where you wanted quickly.

I think since then there are have been improvements to how stuff is loaded (primarily the artwork), so we might be able to look at adding things to that page again.

[2018-11-17 10:41] cunidev commented on #60
Great, thanks!

[2018-11-22 10:02] cunidev commented on #60
A few ideas to begin with

![first-mockup-top](https://user-images.githubusercontent.com/13885615/48895707-07c0d700-ee46-11e8-8a20-cdbae2d6a570.png)
---
![first-mockup-bottom](https://user-images.githubusercontent.com/13885615/48895706-07c0d700-ee46-11e8-932d-afefa228a02c.png)

[2018-12-02 23:58] dickassbutt69 opened #62 "you should add shuffle"
its not exactly a huge issue or anything but shuffle would be nice to have. i havent really toyed around with the web player to see its full potential and capabilities, but im very truly impressed with what youve managed to do thus far! keep up the good work man.
(also if there already is a shuffle feature that im being ignorant to, please let me know)

[2018-12-03 01:53] zachomedia commented on #62
Thank you!

Regarding shuffle - at the time I built this, it wasn't ready for use. I will have to check again and see if it's been implemented within MusicKit JS. There is a temporary "shuffle" feature for albums/playlists at the top called "Shuffle All". (See #7 for more info)

[2018-12-03 01:53] #62 closed

[2018-12-13 20:15] raulrenne opened #63 "Songs don't change immediately after manually changing"
The same song keeps playing, even though the thumbnail and the title being changed.
It takes time to change, and suddenly all the previous clicks are recorded and songs go way ahead than the very next one.

[2018-12-15 05:01] zachomedia commented on #63
Thanks for the report. I'll see if I can test/debug this.
Is this something you can reproduce every time or is it just sometimes?

[2018-12-15 05:44] zachomedia commented on #60
Thank you for the mockup.
I'm currently working on a redesign of the app and will incorporate your feedback. I will share a preview soon (in the next couple of weeks).

[2018-12-16 07:06] zachomedia commented on #60
@cunidev I've started working on it, here's a preview: https://musictest.zacharyseguin.ca. Feedback is welcome.

I'm experimenting with removing the sidebar and instead putting links along to top to give more room for content, and this addresses most of the feedback in your mockup.

[2018-12-19 04:17] #60 closed

[2018-12-19 04:19] #61 closed

[2018-12-19 04:19] #56 closed

[2018-12-19 04:20] zachomedia commented on #17
This has been implemented in the latest release.

[2018-12-19 04:20] #17 closed

[2018-12-19 04:20] zachomedia commented on #13
Added in latest release.

[2018-12-19 04:20] #13 closed

[2018-12-20 15:25] DigitalCorgi opened #65 "Beats one and radio support"
It would be awesome to have access to beats one and other radio stations through the web player, I'd really love to be able to use this as a complete replacement of itunes.  Is radio support part of the API currently or is this not possible?

[2018-12-20 17:18] zachomedia commented on #65
Hello @DigitalCorgi. Unfortunately, it doesn't look like radio stations work through the MusicKit JS library. The information for them is returned (name, play parameters) but if you attempt to play them nothing happens.

@jaehess Any insights about Apple Music radio stations through MusicKit JS?

[2018-12-20 18:53] n3oney opened #66 "Generating a playlist artwork with Canvas"
So, you probably already noticed that if you don't give a photo for a playlists, in the Apple Music app (on iPhones) it generates one with four first songs' artworks in a 2x2 grid. That can easily be done using the HTML5 Canvas. I would appreciate if you added that option.

[2018-12-20 20:34] n3oney commented on #66
I think i'm able to do that and do a pull request, if only i knew where does the songs array come from and if it is available on the SongCollectionItem.vue

[2018-12-20 23:50] zachomedia commented on #66
It doesn't look like the songs array is available in SongCollectionItem. You would have to make a separate API request to get them, which the call would be similar to https://github.com/zachomedia/apple-music-webplayer/blob/master/src/views/SongCollection.vue#L143 .

If you have issues getting it to work, I will probably have some time during the upcoming holidays to get the tracks loading for you

[2018-12-24 14:50] DigitalCorgi opened #67 "Ability to customize button color"
I think it would be super awesome if there was the ability to customize the color of all the buttons on the player.

[2018-12-29 18:12] jahan-addison opened #68 "No donate button :)"
You single-handedly removed all my full-time linux woes re: apple music.

And I think you deserve my money!

[2019-01-07 20:09] T3kstiil3 opened #70 "No picture on artist list"
It will be useful to have Artist cover in the search list
https://music.zacharyseguin.ca/search?q=Rakoon&type=artists
![image](https://user-images.githubusercontent.com/3717296/50790916-3e37a180-128e-11e9-96a6-d8768b1828bf.png)

[2019-01-08 15:42] lukacat10 commented on #68
Oh yes

[2019-01-09 00:16] zachomedia commented on #70
Thanks for the request. Unfortunately, Artist images are not provided by the Apple Music APIs.

[2019-01-24 20:34] T3kstiil3 opened #71 "Player stop playing for an unknown reason"
Please find the code and screen.
[code]

![image](https://user-images.githubusercontent.com/3717296/51706749-61cc4d00-1fed-11e9-91b0-ec51c230ded5.png)

[2019-01-24 20:41] zachomedia commented on #71
Where you just playing music in the background or did you click on the next song button?

It looks like the errors are all in MusicKit.JS, so I may have to write this as a bug report to Apple.

[2019-01-30 17:21] kaushalvivek commented on #68
Yeah man, solved a genuine big-time problem.
I'll add the button, give the go ahead. :P

[2019-02-01 01:35] zachomedia commented on #71
Do you experience this issue often? When it happens, how long after you started playing music does it happen?

[2019-02-06 09:21] Kail0 commented on #59
I was wondering the same thing.

But I think it's not possible to hide it due to nature of how JWT works.

![image](https://user-images.githubusercontent.com/2068046/52331605-e4470a80-29f8-11e9-98ed-9f1b881578b6.png)

[2019-02-06 09:23] Kail0 commented on #41
I was wondering the same thing.

But I think it's not possible to hide it due to nature of how JWT works.

![image](https://user-images.githubusercontent.com/2068046/52331605-e4470a80-29f8-11e9-98ed-9f1b881578b6.png)

[2019-02-07 04:17] zachomedia opened #72 "Display top album tracks"
From an email:

album tracks that iTunes displays? (when you open an album on iTunes,
you can see a little star next to the name of some songs; which are the most
popular). That makes it easier to quickly get an idea of an artist's tracks.

[2019-02-13 14:38] zachomedia opened #73 "Add full screen display"
From an email:

[2019-02-21 19:19] T3kstiil3 opened #74 "Bug artist page"
We can't display artist page  :
https://music.zacharyseguin.ca/artists/1383397733

This is a recent bug, not present before.

[2019-02-21 19:31] zachomedia commented on #74
Thanks for the report. Looks like Apple changed how MusicKit JS makes the API call when you ask for the artists and it's albums.

I'll try to have a fix shortly.

[2019-02-21 19:40] #74 closed

[2019-02-21 19:41] zachomedia commented on #74
I've pushed a fix.

[2019-02-22 14:57] T3kstiil3 commented on #74
Thx 😄

[2019-03-04 07:04] zachomedia opened #75 "Add remote control (iPhone, Apple Watch, etc.)"

[2019-03-06 02:48] FurkanToprak opened #76 "Unable to play any music"
Attempting to play anything on Chromium browsers brings up multiple `Media Playback Error: An error occurred during media playback.` per playlist I press play on and also one `Unexpected Error: An unexpected error occurred.` per song I attempt to play.

[2019-03-06 18:37] Datsuke commented on #76
Same problem here, I been using the app on Chrome for a few days now and it just stopped working, I tried another PC other browsers and re-authorizing the app to my Apple ID however none of these work, the only thing that happens is that it ''loads'' the song forever but not even the gray loading bar appears

[2019-03-06 18:43] zachomedia commented on #76
Thanks for the report @FurkanToprak and @Datsuke.

I just tested myself on Safari and Chrome on my Mac, and I don't have any issues. Can you provide some additional information:

- Operating system
- Country
- Do song previews work when logged out?
- Do you have the same issue with https://tools.applemusic.com/? There's a signin button when you open up a library or playlist
- Are there are any err

[2019-03-06 20:01] Datsuke commented on #76
Windows 10 1809 on build 17763.316
Apple ID is from Mexico however connection is made through a VPN connected to the US
Google Chrome Version 72.0
Same issue with song previews
No issues while playing media through tools.applemusic

`ncaught (in promise) UNKNOWN_ERROR: UNKNOWN_ERROR
    at Function.MKError.serverError (https://js-cdn.music.apple.com/musickit/v1/musickit.js:1:25749)
    at Encrypte

[2019-03-06 20:20] zachomedia commented on #76
Are you able to look at the network tab and see if there are requests failing? Looks like something is failing with MusicKit JS when it get the keys for the encrypted media session (cc/ @jaehess)

[2019-03-07 11:15] msjyoo commented on #76
Same issue here!

[2019-03-07 11:19] msjyoo commented on #76
I found a fix, deleting all localStorage data seems to have fixed it for me. I've been using this since it was launched so there may have been some old date there.

[2019-03-08 04:10] zachomedia commented on #76
Thanks for sharing @msjyoo

@Datsuke can you try clearing all the local storage and seeing if it resolves the issue for you too?

[2019-03-08 21:03] Datsuke commented on #76
@zachomedia It worked! once I deleted local storage and restarted Windows it worked again

thanks for replying our questions!

[2019-03-11 21:57] FurkanToprak commented on #76
Thanks for the report @FurkanToprak and @Datsuke.

I just tested myself on Safari and Chrome on my Mac, and I don't have any issues. Can you provide some additional information:

Ubuntu 18.04
USA
Chromium Version 72.0.3626.121 (Official Build) snap (64-bit) (Worked on Firefox)
Everything except for playing worked.
No problems at tools.applemusic.com
No.

I couldn't fix it by reloading and ignoring

[2019-03-12 09:53] msjyoo commented on #76
@FurkanToprak To clear localStorage data, you open DevTools on the website, and go to Stroage, right-click local storage tab, and select "Delete All".

It won't clear data for any of your other websites, and all Apple Music data would be stored with Apple anyway.

[2019-03-13 06:03] FurkanToprak commented on #76
@msjyoo Yeah, I did that (and know that). Still hasn't worked for me.

[2019-03-15 09:14] nandansarkarxyz opened #77 "Option to remove songs from library"
Currently one can add songs to library. It would be great to be able to remove from library. Anyways a cool project. Thanks

[2019-03-19 02:30] zachomedia commented on #77
Thanks for the request. I don't this is possible right now with MusicKit JS (or the Apple Music APIs), but I'll do some research to be sure.

[2019-03-20 05:12] nandansarkarxyz commented on #77
Thank you

---- On Tue, 19 Mar 2019 08:00:39 +0530 Zachary Seguin <mailto:notifications@github.com> wrote ----

Thanks for the request. I don't this is possible right now with MusicKit JS (or the Apple Music APIs), but I'll do some research to be sure.

—
You are receiving this because you authored the thread.
Reply to this email directly, https://github.com/zachomedia/apple-music-webplayer/issues

[2019-03-29 19:24] Simix2017 opened #78 "On playing a song in a playlist it jumps to the next one"
When I click on a song in a playlist, it jumps to the the song after the clicked one. This song plays normally and without errors. The forward/backward keys also work normally.

(Firefox 66.0.2, DRM-Support, Arch Linux, 5.0.4-arch1-1-ARCH, 64-Bit)

[2019-03-29 19:52] zachomedia commented on #78
Thanks for the report.

I think I figured out what's causing this. There's some missing error handling when fetching ratings for songs (love/disliked), so I think it triggers the fallback handler which skips to the next song. I'll continue investigating and come up with a fix.

[2019-03-29 20:07] zachomedia commented on #78
@Simix2017 I've pushed a fix that resolves it some of the time. Seems like something else causes it to skip ahead and it will require some further investigation.

[2019-04-05 03:57] relict007 commented on #78
It seems to have gotten worse actually. Earlier it was just jumping to the next song but now it jumps to next song as well as shows wrong metadata (of the intended song) in the player.

[2019-04-05 04:23] zachomedia commented on #78
I did some more investigation on this, and it looks like there's a bug with setting the starting position when configuring the play queue. I need to conduct a bit more testing and will likely have to submit this as a bug upstream.

For now though, I think I've found a work around that seems to resolve the issue. Please let me know if you continue to encounter the issue.

[2019-04-05 05:35] relict007 commented on #78
Now it just jumps to the next song. Metadata seems to be correct on the player.

[2019-04-05 07:39] cainkellye opened #79 "Recent list is not updated with songs played from the website"
The play history is not synchronized back to be represented on the **Recent** tab. Neither on iPhone app nor on the [Recent](https://music.zacharyseguin.ca/recent) list.

When I play a song/playlist/album from the iPhone app, it can be seen on the Recent tab on the website. However playing anything from the website does not show up in this list.

[2019-04-05 13:58] Simix2017 commented on #78
Now the error is now longer occuring

[2019-04-07 05:50] zachomedia commented on #79
Thanks for the report. I believe this is a bug with Music Kit JS, so I'll submit it to Apple.

[2019-04-08 20:01] jacobthehammer commented on #78
I'm still experiencing this issue in Firefox 66.02

[2019-04-10 21:16] jacobthehammer commented on #78
And it has suddenly started working as expected for me as well.

[2019-04-12 03:08] zachomedia commented on #78
Great, thanks for the update.

[2019-04-16 02:20] FurkanToprak opened #80 "Fetch Ratings Error: Unable to fetch your song ratings."
`Fetch Ratings Error: Unable to fetch your song ratings. ` arises multiple times upon opening my Firefox browser on Ubuntu 18.04.2 LTS.

[2019-04-16 02:25] zachomedia commented on #80
Thanks for the report.

Which page are you on when you get the errors?

[2019-04-16 03:01] zachomedia commented on #80
Also, does it happen on all pages (with a songs list) or just some of them?

[2019-04-16 03:04] FurkanToprak commented on #80
I believe the error is raised 3 times per played song and, as far as I can tell, only occurs under songs in my library.

[2019-04-16 03:28] zachomedia commented on #80
Though I couldn't reproduce part of the issue (I couldn't get the error to appear), but I did see failed requests to fetch the ratings as part of the queue / history feature.

Looks like something in MusicKit JS has changed, which caused a lot of issues with the ratings feature in the queue list. I've now disabled loading ratings for the queue list and disabled the play history since much of it wa

[2019-04-29 21:14] ClaudioTF opened #81 "Sign In does not work on Android"
When you attempt to sign in on Android, Apple log in and prompt for authorization appears.  But when you click Allow, you are taken back to the initial page that says "Sign in now for full length tracks and access to your Apple Music Library, and you are not signed in.  Happens on both mobile Chrome and mobile FireFox.  Sign in works in non-Android platforms.  Latest version of mobile Chrome and F

[2019-04-30 14:41] zachomedia commented on #81
Hello @ClaudioTF

Thank you for the report. Do you also have this problem on https://tools.applemusic.com? (You can sign in once you visit an album or playlist).

[2019-04-30 20:50] ClaudioTF commented on #81
On https://tools.applemusic.com on Android I receive an error page after entering the login and password.  Error page says "Problem Connecting.  There may be a network issue." Try Again button goes to a page that just says ERROR_REQUEST_FAILED.  Same site on desktop (tried with Chrome) login works correctly, so it is not a network issue.

[2019-05-01 22:50] ClaudioTF commented on #81
Update: now, https://music.zacharyseguin.ca gives the "Problem Connecting. There may be a network issue." error page that https://tools.applemusic.com gives when you try to sign in on Android.  Try Again button on error page is unresponsive, appears to have no effect.

[2019-05-03 07:57] FurkanToprak opened #82 "Synching Issues When Song Changed"
When I switch between songs by clicking on a new song, the title and album cover of the song doesn't update. Below is a screenshot of the song title being incorrect. Actually playing was the song "The 1975", but the shown title is the title of the previous song.
![image](https://user-images.githubusercontent.com/46634307/57125474-30cb8900-6d4f-11e9-839b-3789614c6e30.png)

[2019-05-05 15:54] zachomedia commented on #82
Thanks for the report. This may be related to #78, but I'll have to check more to confirm.

[2019-05-05 15:55] zachomedia commented on #81
Ok, thanks @ClaudioTF. This sounds like it may be an issue with MusicKit JS since it affects more than just my site.

I'll see if I can get my hands on an Android phone to test with and report the issue to Apple.

[2019-05-05 18:35] FurkanToprak commented on #82
I believe both bugs are indeed caused by an upstream error, but I don't think the temporary fix you've applied fixed it.

[2019-05-07 00:13] DigestingHat123 opened #83 "No songs will not play"
Whenever I click on a song to play, then it will load for an infinite amount of time, and if I try to pick  a new song then it says "Unexpected Error: An unexpected error occurred."

[2019-05-07 04:22] zachomedia commented on #83
Thanks for the report. A few things to try:

1. Sign out and sign back in
2. A different browser
3. https://tools.applemusic.com -> see if you can sign in and play content there (open an album or playlist, and there is a sign in button)

If you're still having issues, can you please provide your browser and operating system so that I can attempt to recreate the problem?

[2019-05-11 19:48] zachomedia opened #84 ""Unable to fetch song ratings" error with large number of songs"
Likely to trigger on the Library Songs view, as it results in too many song IDs send to the Apple Music API.

[2019-05-11 19:58] #84 closed

[2019-05-11 20:03] zachomedia commented on #82
@FurkanToprak Is this issue still occurring? I cannot seem to reproduce it myself.

If it is still occurring, can you provide me with a few more details?:

- Does this happen all the time or just occasionally? Does it happen just on the Library Songs page or any page with a song list (album/playlist/etc.)?
- Are there any error messages around the time the problem happens?
- Does it happen in diff

[2019-05-11 20:05] zachomedia commented on #76
@FurkanToprak Is this still an issue?

[2019-05-11 20:06] zachomedia commented on #80
I think I've fixed up the different scenarios where these errors occur, so if this issue re-occurs, please re-open and I'll investigate it more.

(related #84)

[2019-05-11 20:06] #80 closed

[2019-05-11 20:08] zachomedia opened #85 "Re-enable play history"
The play history was temporarily disabled in #80.

Need to fix up the errors and re-enable it.

[2019-05-11 20:09] zachomedia commented on #30
Re-design has changed how this works and I don't believe it's an issue anymore.

[2019-05-11 20:09] #30 closed

[2019-05-12 05:12] #73 closed

[2019-05-12 05:18] zachomedia commented on #73
This feature has now been implemented. Clicking the screen icon in the top right of the player will activate the full screen display.

[2019-05-19 20:33] FurkanToprak commented on #82
@zachomedia So I'm unable to reproduce this error, so I believe it is fixed. I tried skipping songs, clicking on a new song, letting a song end and transition to the next song naturally, clicking on playlists; all of this was tried on shuffle and regular mode. However, I still do get the notification "Unexpected Error: An unexpected error occurred." whenever I first get on https://music.zacharyseg

[2019-05-19 20:33] #82 closed

[2019-05-19 20:39] FurkanToprak commented on #76
@zachomedia Yes. When I click on a song, album art, song title, etc. all changes correctly but `Unexpected Error: An unexpected error occurred.` occurs. Media playback error no longer occurs.

[2019-05-28 10:20] swapnilraj opened #87 "Enhancement: Add lyrics view"
I looked at the Apple's API and they don't provide lyrics, but we have enough data from their API to fetch lyrics from another source. What do you think about this?

[2019-05-29 02:57] zachomedia commented on #87
Hello @swapnilraj, if you (or someone else) is able to implement this, I am all for adding this (assuming I'm comfortable with the external service selected).

[2019-06-12 01:56] zachomedia commented on #34
Done: https://github.com/zachomedia/apple-music-webplayer/commit/10d7a0a4bdefbb817e239b875471cc346139d4da and https://github.com/zachomedia/apple-music-webplayer/commit/6dd5a11294c2ef7804c2e7efb59a78488b9bce57

[2019-06-12 01:56] #34 closed

[2019-06-13 15:24] LeonCupac opened #88 "Option to bring back the old UI layout."
Can you make it an option in the settings menu where you can turn on the old UI. (playapplemusic.com) I really liked it and it was the reason i chose your site over something else. (musi.sh or maevemusic.app) :D

[2019-06-15 22:02] zachomedia commented on #88
Hello, @LeonCupac, playapsplemusic.com is a separate project by a different developer than this one. You can find the project at https://github.com/naveedgol/music-web-player and can access it on the web at https://naveedgol.github.io/music-web-player/ .

[2019-06-15 22:02] #88 closed

[2019-06-18 04:47] Datsuke opened #89 "Sharing capabilities"
Being able to share a song by copying the link of the song to the clipboard

[2019-06-19 03:52] #89 closed

[2019-06-19 03:54] zachomedia commented on #89
@Datsuke Thanks for the request. This feature existed for albums/playlists and has now been added to the songs actions dropdown.

Note though that it is only available for songs when you're not in a library view (ie. viewing a playlist, album or your songs from the "Library" menu).

[2019-06-22 16:49] zachomedia opened #90 "Add ability to go to an artist page by clicking on their name in the album"
From an email:

[2019-06-24 18:09] FurkanToprak opened #91 "[Feature Request] Sort by recently added in songs library"
Will there be a feature to sort playlists by recently added/artist/etc. for the songs library? While this seems trivial, it's the only feature the website lacks to make it a substantial substitute for apple music. Also, the alphabetic sorting mechanism in the songs playlist is very inconvenient for huge libraries and locating recently added songs that the user is not accustomed to. For example, I

[2019-06-24 22:53] zachomedia commented on #91
Thanks for the request @FurkanToprak.

I'm currently using the default sorting that comes out of the Apple Music APIs. I can implement sorting based on some of the fields in a song, but it's unlikely that I'll be able to sort by "recently added" since that information is not provided in the API. The only place that type of information is available is in the "Recent" tab.

[2019-06-25 14:44] FurkanToprak commented on #91
@zachomedia Even that would be great. I just looked at other Apple Webplayers (i.e. musi.sh) and it indeed seems to be unavailable from the API. Sorting by field would go a long way and wouldn't be too difficult to implement.

[2019-06-25 14:44] #91 closed

[2019-06-28 19:51] iceman73 commented on #83
I also get this every once in a while with chrome.
Tools.applemusic.com plays albums.
I tried Firefox and it also seems to suffer from this some times, and need to logout and shutdown browser before it will work again.

[2019-06-28 20:07] zachomedia commented on #83
Thanks @iceman73.

I've noticed in the past couple of days that the player gets stuck more frequently. I haven't had much time to look yet but I have some time this afternoon to investigate.

[2019-06-28 20:56] zachomedia commented on #83
Seems that MusicKit JS is throwing some errors. I've submitted feedback to Apple (FB6346557).

[2019-07-03 12:22] EkanshdeepGupta commented on #76
Hi. I am having a similar issue. The site works great on Firefox, but not on Chromium.

Problem:
When I access the website from Chromium, I get the message telling me to 'install or enable Encrypted Media Extensions in your browser'.
After this, playing any media throws: Media Playback Error: An error occurred during media playback.

What I've tried:
 As far as I could tell, EME is already enabled

[2019-07-03 21:02] zachomedia commented on #76
@EkanshdeepGupta Chromium (the open source version of Chrome) does not have the encrypted media extensions included. I'm not sure how to obtain it on Fedora, but you'll be looking for the widevine package.

[2019-07-04 22:26] EkanshdeepGupta commented on #76
Oh. I did not know that. Thanks a lot, I will look if there is a way to do this and update accordingly (hopefully).

[2019-07-05 17:22] FurkanToprak commented on #76
Works on firefox but not chromium. Issue closed.

[2019-07-05 17:22] #76 closed

[2019-07-08 14:22] vladasbarisas opened #92 "Enhancement: option to disable localization"
I'd like to have an option to disable localization based on the account's country. I have a russian Apple Music account and I'd like to be able to view the US top charts, without russian translations for playlist and artist names and without music added by local music curators. Do you think this would be possible?

I can try adding this myself, but I'm not sure where to start.

[2019-07-09 04:41] JediBrooker commented on #19
Hey, I'm having this same issue. Any progress? Manjaro Gnome on Firefox. This seems like a good solution for us Linux users if we can get the login issue solved!

[2019-07-10 03:09] zachomedia commented on #92
Thank you for the request. This might be possible as there does appear to be some "storefrontid" settings but I'm not 100% positive. I can do more research/trial to see if this is something that can be done.

[2019-07-12 12:36] vladasbarisas commented on #92
There's a local storage item with a long alphanumeric name that ends with ".s", and it seems like it affects the Top Charts tab and artist name translations. Changing it to "gb" allowed me to view the UK charts without russian translations, but it didn't affect the For You or Library tabs.

storefrontid seems promising, I'll try playing with it over the weekend.

[2019-07-17 08:10] c-hild commented on #76
Had the same issue, also on current Chromium on current arch linux, this was the console content:

Error with Feature-Policy header: Unrecognized feature: 'notifications'.
for-you:1 Error with Feature-Policy header: Unrecognized feature: 'push'.
for-you:1 Error with Feature-Policy header: Unrecognized feature: 'document-write'.
for-you:1 Error with Feature-Policy header: Unrecognized feature: 'ima

[2019-07-20 12:58] yp261 opened #96 "Music stops after a while in background"
Don't know how can I help you with finding the issue but what is happening:

I listen to some music, browser doesn't matter (Edge, Chrome and Firefox tested, Windows 10). After one or two songs the music just stops and I need to select some song manually for it to start playing.

There is no error, nothing - playback is at 100% and it's just stuck.

[2019-07-22 00:44] zachomedia commented on #96
Thanks for the report @yp261

I've seen this happen from time to time as the underlying MusicKit.JS library updates. I've been playing music for an hour or so today and doesn't seem to have stopped yet.

When it occurs, can you check the developer console for any errors? I will also double check all the error paths and make sure the errors get logged out.

[2019-07-22 12:04] yp261 commented on #96
Hi,
thanks for reply

that's all I have in console: https://i.imgur.com/4gRBx1e.png

[2019-07-23 02:44] zachomedia commented on #96
@yp261 Looks like you're using the web scrobbler extension? Does it happen with the extension disabled?

[2019-07-23 12:35] yp261 commented on #96
Hi,
no issues without the extension.
That's pretty bad because I can't live without my music being scrobbled to last.fm :D

[2019-07-25 03:24] DevanB commented on #77
@zachomedia were you able to find any APIs that allow you to remove a song from the user's library?

[2019-08-22 08:13] Djabx commented on #96
Hi,
I've the same issue, and for me it append mostly on long songs, between 13 to 16 minutes

The message in the console is:

    InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable

BTW: I'm using Firefox 68.0.2 64bits on Ubuntu 19.04

Some ong I've experienced this lately:
* https://music.apple.com/fr/album/echoes/699632611?i=699633220
* https://music.app

[2019-08-23 05:09] zachomedia commented on #96
@Djabx Thanks for the information, I'll take a look and attempt to reproduce. I will note that playback issues like that seem to come and go every so often, so it may randomly start working again.

I do still have a couple of open issue with Apple regarding various playback issues, so if I discover anything new I'll add it to those issues.

[2019-09-03 14:30] satnam-sandhu opened #98 "Is there any plan to make an electron app for a bit more native experience"
I think many more people like me would love a native version of an apple music app.

[2019-09-03 18:14] ShirtShanks opened #99 "Keyboard shortcuts for controlling playback"
Hitting spacebar should pause/play music, and hitting ctrl/cmd + left/right should go to the previous or next track!

[2019-09-03 18:16] ShirtShanks commented on #90
Furthermore, clicking on the album in the playback bar should take one to the album, and to the artist page if we click on the artist.

[2019-09-04 00:35] zachomedia commented on #98
Thanks for the request, it's something on the radar but I haven't had the time to look into it. I'm going to close this as a duplicate of #6.

[2019-09-04 00:35] #98 closed

[2019-09-04 00:39] zachomedia commented on #99
Thank you for the request. I'll look at improving the keyboard shortcuts for music controls.

Just a note - any browser supporting Media Keys (like Google Chrome) can be controlled using the media controls on a keyboard (if you have them).

[2019-09-08 04:41] #85 closed

[2019-09-08 04:41] #92 closed

[2019-09-08 04:48] zachomedia commented on #92
@vladasbarisas This feature has now been implemented. Please note, though, that it doesn't appear to have any effect on the For You or library sections (those always use your storefront). But you can at least now view playlists and albums from other countries.

[2019-09-08 05:18] zachomedia commented on #91
@FurkanToprak I was hoping to have this done a while back but unfortunately didn't have much time to work on it over the past couple of months.

I've finally got an initial version of this that supports sorting by name, artist, album and length. I'll continue to improve this feature over time.

[2019-10-18 23:09] mscharley commented on #8
Any feedback from Apple on this? Seems like this is still active currently.

[2019-10-20 06:11] zachomedia commented on #8
Hello @mscharley, unfortunately, I have not heard anything from them about this issue. The request is still open in Apple's bug reporting system.

[2019-10-29 08:31] lkrumpak opened #100 "Blank Page"
Apon install and after adding my Developer token I try to run the web player however when going to the website the page is blank and displays nothing and I made sure javascript is enabled

[2019-10-29 08:43] #100 closed

[2019-11-17 20:12] Grecia1982 opened #101 "congratulationssssssssssssssssssssssss Bro!!!!!!!!!!!!!!!!!!!!"
HELLO MY FRIEND!!!THANKSSSSSSSSSSSSSSSSSSSSS SO MUCHHHHHHHHHHHHHHHHHHHHH FOR THIS AMAZING WEBBBBBBBBBBBBBBBBBBBBBBB…AT LAST ONE WEB WITH UNLIMITED RESULTS!!!BIG ADVANTAGEEEEEEEEEEEEE…THE ONLY WHERE MISS FROM YOUR AMAZINGGGGGGGGGGGGGGGGGGGGGGGGG WEB IS THE RESULTS BY DATE OR BY YEAR…LOAD MORE RESULTS EVERY TIME...AND MAKE THE JPGS MORE BIGGER AND CLEAR!!!IT WOULD BE GREAT!!!!!!!!!!!!!!!GOD BLESS YO

[2019-11-22 22:25] critter-x commented on #28
I have this issue too. But I created a new playlist while adding a song. Also, it didn't help to refresh the broser, neither to close it, sign out, nor delete cache.

[2019-11-26 03:53] zachomedia commented on #77
@DevanB Sorry for not having seen this back when you posted it, but no, it does not look like the Apple Music APIs have a remove song API call.

https://developer.apple.com/documentation/applemusicapi/songs

[2019-11-26 03:57] zachomedia commented on #28
Thanks @anurag-goyal and @critter-x.

I was able to reproduce it not being available until the browser is refreshed. I'll check if I can clear the cache for that so that it refreshed right away upon creating a new playlist.

@critter-x I just ran a test and the playlist showed up right away in the Apple Music on my app and after a refresh. Maybe there was an issue at the time that prevented it fro

[2019-12-11 01:22] zachomedia commented on #28
I have done some initial investigation on this, and it seems there are two issues here. The first one I can do a fix for, where I clear the local musickit cache when a playlist is added and/or modified.

The second one I will have to submit to Apple to get help with. I added two playlists, and they show up in the Apple Music app on my Macbook, but they aren't returned in the API responses that it

[2019-12-13 00:24] drasbeck opened #102 "Add album to play next/play later."
I have not been able to figure out how to add an entire album to play next/play later, like we can do with single tracks by pressing the horizontal hamburger menu on an album page. Feel free to close this issue, if I'm just to blind to see it, but:

Please consider implementing the feature of adding an entire album to play next/play later.

[2019-12-13 02:50] #102 closed

[2019-12-13 02:51] zachomedia commented on #102
@drasbeck You didn't missing anything, it wasn't available as an option. I have now added to ability to play an entire album next or later

Thanks for the request!

[2019-12-13 07:01] drasbeck commented on #102
Now _that's_ a quick turnaround for an issue. :D Thanks a lot!

One note to add, while the _play next/play later_ buttons work very well, as long as the _up next_ list is **not** empty, they do not seem to work when the list **is** empty. It would make sense if they would just queue the album, regardless of _up next_ list length.

[2019-12-14 17:17] zachomedia commented on #102
You're welcome!

I noticed that as well and unfortunately that is all controlled by MusicKit JS, so I will have to open a bug report with them to hopefully fix that behaviour.

[2019-12-18 21:24] feastofnoise commented on #96
Started using the ZS player today and I mostly listen to music that has long songs so I can confirm that the music will always stop after 11 - 14 minutes of playing time. I really like the player otherwise!

[2019-12-24 23:21] kenpokas opened #103 "load few reults!!!"
my friend please can you fix this unbelievable web load more than 5 reults?more less 20-50 or maybe more...it would be greattttttttttttttttt dude!!!Merry Christmas my friend!!!

[2019-12-24 23:32] zachomedia commented on #103
@kenpokas Thank you for your suggestion, can you point me to which part of the app is currently loading 5 results at a time? I can tweak it assuming the Apple Music APIs support a larger load per request.

[2019-12-25 08:34] kenpokas commented on #103
woowwwwwwww....thanks so much where answer me!!!!!!!and thanks so muchhhhhhhhhhhhhhh where make this unbelievable web increase unlimited albums and songs!!!!my friend the only where miss for your amazingggggggggggggggggg web is appear music by year and load more than 5 results!!!every time load just 5 results and for albums and for songs!!!it would be great if you make it load more,less 50-100!!!M

[2019-12-29 04:28] zachomedia commented on #103
@kenpokas Yes, I will see if that limit can be increased. I assume you mean on the search pages? It may take me a few days to have some time to work on this due to the holidays.

[2019-12-29 07:36] kenpokas commented on #103
woowwwwwwwww.....thanksssssssss so muchhhhhhhhhhhhhh dude!!!yes,I mean on the search of pages!!!my friend I hope you make it as soon as possible!!!pleaseeeeeeeeee I begging you!Zachomedia and if you can please and its not difficult for you make it appear also genre and date for every song!!!God bless you and your family also!!!happy new year my friend!!! (please tell me how you increase load unlim

[2020-01-02 20:22] PANOSMMAKENPO opened #104 "results!!!"
Happy new year my friend!!!please dont forget me for load more results 100-200...pleaseeeeeeee man!!!

[2020-01-05 14:56] PANOSmma opened #105 "LOAD MORE SONGS-ALBUMS!!!"
MY FRIEND TELL ME PLEASE YOU WILL MAKE IT LAOD MORE SONGS AND ALBUMS...ABOUT 200-300?TELL ME PLEASE THAT YOU WILL DO IT!!!HAPPH AND BLESSED NEW YEAR!!!!

[2020-01-05 22:08] logangeorge01 opened #106 "skipToNextItem() produces PLAY_ACTIVITY error"
When I press the button to skip songs, it consistently logs this error. It seems like it's a MusicKit issue because it seems to be plaguing all other Apple Music web players. It's not super consequential, other than it kinda glitches out and occasionally produces some audio hiccups. I just wondered if there's any way of avoiding this error, as I'm trying to use the MusitKit functionality on my own

[2020-01-06 03:24] zachomedia commented on #106
Yeah, this is very likely a MusicKit JS bug since I only call `instance.player.skipToNextItem();` (https://github.com/zachomedia/apple-music-webplayer/blob/master/src/store/modules/musicKit.js#L428) in order to switch to the next track.

Have you tried opening a support request with Apple through https://feedbackassistant.apple.com/welcome?

[2020-01-06 03:37] #105 closed

[2020-01-06 03:38] zachomedia commented on #105
@PANOSmma All of the songs / albums / etc. are loaded at the maximum per request that Apple permits through its APIs.

I just changed the search to load the maximum permitted of 25 per request.

[2020-01-06 05:05] logangeorge01 commented on #106
Yeah, I've done that, so I'll reply when I get a response from them.

[2020-01-06 08:04] PANOSmma commented on #105
WOOWWWWWWWW THANKS SO MUCHHHHHHHHHHH....IS MUCH BETTER.BUT REALLY YOU CANT
LOAD MORE THAN 25 AT LEAST 100???

Στις Δευ, 6 Ιαν 2020 στις 5:38 π.μ., ο/η Zachary Seguin <
notifications@github.com> έγραψε:

[2020-01-06 08:24] PANOSmma commented on #105
MY GOOD FRIEND SOMETHING MORE PLEASE!!!I AM BEGGING YOU CAN YOU MAKE A
ADVANCED SEARCH TO FIND MUSIC ON YOUR UNBELIEVABLE WEB AND DESIGN SONGS AND
ALBUMS BY DATE AND BY GENRE?THIS MAKE ME SOOOOOOOOOOOOOOOOO
HAPPYYYYYYYYYYYYYYY....PLEASE DUDEEEEEEEEE...AS PROGRAMMER I BELIEVE YOU
CAN!!!PLEASEEEEEEEEEEE MANNNNNNNNNNNN

Στις Δευ, 6 Ιαν 2020 στις 10:04 π.μ., ο/η panos panukos <
greciiiiaaa1982@gmail.c

[2020-01-17 08:42] PANOSKENPO opened #107 "genre-date!!!"
my friend how are you?I hope all good!Dude one favor please.could you make your amazing web appear music by date and by genre?is the only where miss man...like advanced search. for example how you find this love year:2020 or love genre:pop and appear just the songs whith this date and this genre!!!please mannnnnnnnnnnnn

[2020-02-26 22:59] TrontheTechie opened #108 "Ability to output Song title, artist, album etc of now playing to polybar"
Thank you for the continued work on this project, It has been invaluable to me as a linux user whose S.O. is in love with apple music. Would you be open to adding in the ability to output this information to a module with functionality like MPD on people's polybar/ i3bar setups?

Thank you, regardless, for all the hard work!

[2020-02-28 22:33] zachomedia commented on #108
@TrontheTechie I'm not 100% clear on what would be needed for that. Do you have any more information about this type of setup?

[2020-02-29 00:27] TrontheTechie commented on #108
Thank you for your time;

The way that I have thought it could work is by having a setting that if toggled would allow the web client to write a file to disk in the home directory somewhere or tmp folder named applemusicnowplaying that contains the currently playing song information (as specified in settings if desired for more complexity).

Someone could then create a small module in their polyba

[2020-03-12 21:38] echolock opened #109 "Searching Library doesn't allow Album/Artists/Playlists to be selected, only Songs"
The Album/Artists/Playlists can be selected in the Apple Music tab of the search results, but not in the Library tab. Only Songs is available here, even though I have albums, etc in my Library.

[2020-03-13 01:44] zachomedia commented on #109
Thanks @echolock for the report. I can confirm I'm seeing the same thing, I will try to find the cause!

[2020-03-13 02:06] zachomedia commented on #109
Thanks @echolock. Unfortunately this appears to be an issue with the Apple Music APIs which are not returning results for albums, artists and playlists in the Album search. I have submitted a feedback report to Apple (FB7624496) about this issue.

[2020-03-14 08:11] PANOSGRECIA1984 opened #111 "year or date!!!"
what amazing web!nice work.Zachomedia could you please make find music by date or by year?or every album show date or year?

[2020-04-04 17:36] Simix2017 opened #112 "Wrong copyright year"
The copyright year (in the footer) says 2019 but we are in 2020 :)

[2020-04-05 06:01] zachomedia commented on #112
Thanks for the reminder about this! 🙂

[2020-04-05 06:01] #112 closed

[2020-04-06 09:33] PANOSSS1980 opened #113 "ITUNES!!!"
MY FRIEND CONGRATULATIONSSSSSSSSSSSSSS FOR YOUR AMAZING WEB....PLEASE COULD YOU MAKE MUCH BIGGER THE JPGS FOR THE SONGS AND SHOWS YEAR OR DATE FOR EVERY SONG AND ALBUM?>IT WOULD BE GREAT DUDE

[2020-04-15 02:04] logangeorge01 commented on #106
Apple has fixed the bug.

[2020-04-15 02:04] #106 closed

[2020-05-11 15:49] ashtoncowie opened #115 "Play and pause icon width causes shaky top bar"
The icons for play and pause seem to have a mask with very slight difference in width, which causes every UI element on the top playback bar to "shake" when a quick transition between the two occurs. This is a minor aesthetic issue but I figured I'd submit it :)

[2020-05-14 05:46] gferreroferri opened #116 "Light theme"
Would it be possible to create a light theme for the app and have it as a setting?

[2020-06-15 13:25] henryjin3 commented on #96
Same here, it stops typically right at 15 minutes. Makes listening to classical music difficult. The error is as follows:

[code]

[2020-06-19 17:13] zachomedia commented on #116
Thanks for the request, I'll see if this is something that can be easily done!

[2020-06-19 17:14] zachomedia commented on #115
Thanks 🙂 I'll see that these be made the same width to prevent this

[2020-07-04 17:46] #115 closed

[2020-07-04 17:46] zachomedia commented on #115
This has now been implemented! Thanks for the report 🙂

[2020-08-12 10:05] wortho commented on #81
I have a similar issue using MusicKitJS within a React app. The authenticate call fails after authenticating with Apple ID. Did you get a response from Apple?

[2020-09-05 07:56] #66 closed

[2020-11-03 20:58] ClaudioFriederich commented on #28
Additional information on your "second one".  I have verified this to still be a bug in Apple Music.  If you add anything (song, playlist, etc.) to your library in Apple Music app, Apple Music app on all your devices reflect the change.  But, the Apple Music API responses will not include the new items until one day later.  However, if you add songs to or change an existing playlist in your librar

[2021-03-26 13:28] hcuk94 opened #125 "Album View - Show Year & Genre"
When an album is open to the track listing, there is nowhere that shows the year and genre of the album, as is shown on the equivalent screen in Apple Music.

It'd be great to get this added in - I'm not fussed about genre but I refer to year pretty often when listening to an album.

PS: Excellent work, love the web app and use it all the working day.

[2021-03-26 22:43] #125 closed

[2021-03-26 22:45] zachomedia commented on #125
@hcuk94 Thank you for the feature request! The release date and genres are not shown on the Album view page.

[2021-04-02 19:26] AlexanderChiclana opened #126 "Audio stops playing playing after some playback, requires refresh"
After successfully playing a few songs, the audio will stop and will not allow playback of anything else until the page is refreshed. Appears to be stuck in loading state. Error message shows if you try to play anything after this happens

[2021-04-14 18:41] #126 closed, assigned to nobody

[2021-04-14 18:41] AlexanderChiclana commented on #126
closed for redundancy

[2021-05-05 16:45] AlexanderChiclana commented on #96
This is still an issue, stops for me at 15 minutes as well

[2021-05-05 17:21] zachomedia commented on #96
I'll double check my issues I have with Apple to see the status of this, but I believe this continues to be an issue with MusicKit JS.

[2021-07-22 03:58] ganyao114 commented on #81
Has this issue been solved ?

[2021-11-08 19:25] dev-bun opened #137 "Music stops"
Hi

Love the site (Much better than the music.apple.com site) but music stops randomly after 2-3 songs. It returns an error about FILE_NOT_FOUND in console. This happens when half way through a song.

Thanks!

[2021-12-04 19:58] #137 closed, assigned to nobody

[2022-05-14 20:43] jfrgagnon opened #151 "Add a cast functions to Google home devices from iOS Chrome or Edge browsers"
That would make my day if it was possible to cast to Google Home devices through any browsers or at least chrome or edge browsers.